<div class="profile-container">
  <div class="profile-header">
    <h1>My Profile</h1>
  </div>
  <div class="profile-content">
    <div>
      <div class="profile-field">
        <label>Name:</label>
        <p><%= @user.first_name %> <%= @user.last_name %></p>
      </div>
      <div class="profile-field">
        <label>Email:</label>
        <p><%= @user.email %></p>
      </div>
      <%# if @user.employee? %>
      <div class="profile-field">
        <label>Department:</label>
        <p><%= @user.department&.capitalize || 'n/a' %></p>
      </div>
      <%# end %>
      <div class="profile-field">
        <label>Member Since:</label>
        <p><%= @user.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>
  </div>
  <div class="profile-actions">
    <%= link_to "Edit Profile", edit_user_registration_path %>
  </div>
</div>