<aside id="moderators-sidebar">
  <!-- Header -->
  <header id="brand">
    <%#= link_to moderators_dashboard_path, class: 'no-underline' do %>
      <!-- Logo -->
      <img class="bloop" src="/assets/gcmes-logo.png" alt="logo"/>
      <%# end %>
    </header>
    <!-- Main: Navigation -->
    <main id="navigation">
      <!-- Link to Dashboard 
      <%= link_to root_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(root_path) %>">
          <span class="icon"><i class="fa-solid fa-home"></i></span>
          Dashboard
        </p>
      <% end %>
      -->
      <!-- Link to Quotations -->
      <%= link_to quotations_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(quotations_path) %>">
          <span class="icon"><i class="fa-solid fa-calculator"></i></span>
          Quotations
        </p>
      <% end %>
      <!-- Link to Canvasses -->
      <%= link_to canvasses_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(canvasses_path) %>">
          <span class="icon"><i class="fa-solid fa-palette"></i></span>
          Canvasses
        </p>
      <% end %>
      <!-- Link to Request Forms -->
      <%= link_to request_forms_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(request_forms_path) %>">
          <span class="icon"><i class="fa-solid fa-file"></i></span>
          Request Forms
        </p>
      <% end %>
      <!-- Link to Purchase Orders -->
      <%= link_to purchase_orders_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(purchase_orders_path) %>">
          <span class="icon"><i class="fa-solid fa-calculator"></i></span>
          Purchase Orders
        </p>
      <% end %>
      <!-- Link to Projects -->
      <%= link_to projects_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(projects_path) %>">
          <span class="icon"><i class="fa-solid fa-building"></i></span>
          Projects
        </p>
      <% end %>
      <!-- Link to Employees -->
      <%= link_to employees_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(employees_path) %>">
          <span class="icon"><i class="fa-solid fa-users"></i></span>
          Employees
        </p>
      <% end %>
      <!-- Link to Clients -->
      <%= link_to clients_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(clients_path) %>">
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          Clients
        </p>
      <% end %>
      <!-- Link to Suppliers -->
      <%= link_to suppliers_path, class: 'in-text no-underline' do %>
        <p class="nav-btn <%= 'active' if current_page?(suppliers_path) %>">
          <span class="icon"><i class="fa-solid fa-truck"></i></span>
          Suppliers
        </p>
      <% end %>
    </main>
    <!-- Footer -->
    <%# <footer id="actions"> %>
    <%#= link_to "<i class='fal fa-sign-out'></i> Sign Out".html_safe, moderators_signout_path, id: 'signout-btn', class: 'sub-cta' %>
    <%# </footer> %>
  </aside>
