<div class="document-container">
  <div class="header">
    <p id="title"><%= title %></p>
    <div class="search-bar">
      <% unless title == "Employees" || title == "Suppliers" || title == "Clients" %>
        <input type="date" placeholder="mm/dd/yy" />
      <% end %>
      <input type="text" placeholder="Search..." />
      <button type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <table class="document-table">
    <thead>
      <tr>
        <% if title == "Quotations" %>
          <th>Reference Number</th>
          <th>Client Name</th>
          <th>Subject</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Request Forms" %>
          <th>Reference Number</th>
          <th>P.O Number</th>
          <th>Client</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Canvasses" %>
          <th>Reference Number</th>
          <th>Vendor</th>
          <th>P.O.</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Purchase Orders" %>
          <th>Reference Number</th>
          <th>Vendor</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Projects" %>
          <th>Reference Number</th>
          <th>Client</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        <% elsif title == "Employees" %>
          <th>Name</th>
          <th>Contact Number</th>
          <th>Creation Date</th>
        <% elsif title == "Suppliers" %>
          <th>Name</th>
          <th>Code</th>
          <th>Address</th>
          <th>Creation Date</th>
        <% elsif title == "Clients" %>
          <th>Name</th>
          <th>Code</th>
          <th>Address</th>
          <th>Company</th>
          <th>Creation Date</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <!-- Dynamic content will be generated based on the title -->
      <% if title == "Quotations" %>
        <% @quotations.each do |quotation| %>
          <tr>
            <td><a href="#"><%= quotation.uid %></a></td>
            <td><%= quotation.client.code %></td>
            <td><%= quotation.subject %></td>
            <td><%= number_to_currency(quotation.total) %></td>
            <td><%= quotation.created_at.strftime("%B %d, %Y") %></td>
            <td><span class="status <%#= quotation.status %>"><%= quotation.approver %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Request Forms" %>
        <% @request_forms.each do |form| %>
          <tr>
            <td><a href="#"><%= form.uid %></a></td>
            <td><%= form.purchase_order&.uid %></td>
            <td><%= form.quotation.client.code %></td>
            <td><%= number_to_currency(form.total ) %></td>
            <td><%= form.created_at.strftime("%B %d, %Y") %></td>
            <td><span class="status <%#= form.status %>"><%= form.approver %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Canvasses" %>
        <% @canvasses.each do |canvass| %>
          <tr>
            <td><%= canvass&.uid %></td>
            <td><%#= canvass.vendor.code %></td>
            <td><%#= canvass.purchase_order&.uid %></td>
            <td><%#= number_to_currency(canvass.total) %></td>
            <td><%= canvass.created_at.strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
      <% elsif title == "Purchase Orders" %>
        <% @purchase_orders.each do |po| %>
          <tr>
            <td><%= po&.uid %></td>
            <td><%= po.supplier.code %></td>
            <td><%= number_to_currency(po.total ) %></td>
            <td><%= po.created_at.strftime("%B %d, %Y") %></td>
            <td><span class="status <%#= form.status %>"><%= po.approver %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Employees" %>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= employee.contact_number %></td>
            <td><%= employee.created_at.strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
      <% elsif title == "Suppliers" %>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.name %></td>
            <td><%= supplier.code %></td>
            <td><%= supplier.address %></td>
            <td><%= supplier.created_at.strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
      <% elsif title == "Clients" %>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.code %></td>
            <td><%= client.address %></td>
            <td><%= client.company.code %></td>
            <td><%= client.created_at.strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
