<%= turbo_frame_tag "#{title.downcase.gsub(' ', '_')}_table", class: "document-table" do %>
  <table class="document-table">
    <thead>
      <tr>
        <% if title == "Quotations" %>
          <th style="width: 6%;">Company</th>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Subject</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 7%;">Status</th>
        <% elsif title == "Canvasses" %>
          <th style="width: 6%;">Company</th>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 30%;">Item</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 7%;">Status</th>
        <% elsif title == "Request Forms" %>
          <th style="width: 6%;">Company</th>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Item</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 7%;">Status</th>
        <% elsif title == "Purchase Orders" %>
          <th style="width: 6%;">Company</th>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">Item</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th> 
          <th style="width: 7%;">Status</th>
        <% elsif title == "Projects" %>
          <th style="width: 6%;">Company</th>
          <th style="width: 10%;">Reference Number</th>
          <th style="width: 20%;">P.O. Number</th>
          <th style="width: 10%;">Amount</th>
          <th style="width: 10%;">Date</th>
          <th style="width: 7%;">Status</th>
        <% elsif title == "Employees" %>
          <th>Name</th>
          <th>Department</th>
          <th>Position</th>
          <th>Role</th>
          <th>Action</th>
        <% elsif title == "Whitelisted Employees" %>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Creation Date</th>
        <% elsif title == "Suppliers" %>
          <th style="width: 10%;">Company</th>
          <th style="width: 25%;">Name</th>
          <th style="width: 10%;">Code</th>
          <th style="width: 35%;">Address</th>
        <% elsif title == "Clients" %>
          <th style="width: 10%;">Company</th>
          <th style="width: 25%;">Name</th>
          <th style="width: 10%;">Code</th>
          <th style="width: 35%;">Address</th>
        <% elsif title == "Voided Documents" %>
          <th style="width: 10%;">Company</th>
          <th style="width: 20%;">Document Type</th>
          <th style="width: 20%;">Reference Number</th>
          <th style="width: 20%;">Deleted At</th>
          <th style="width: 20%;">Deleted By</th>
        <% end %>
      </tr>
    </thead>
  </table>
  <table class="document-table" data-table-filter-target="table" style="margin-bottom: 50px;">
    <tbody>
      <% if title == "Quotations" %>
        <% documents&.each do |quotation| %>
          <tr onclick="window.location='<%= quotation_path(quotation) %>'" style="cursor: pointer">
            <td style="width: 6%;"><%= quotation.company.code %></td>
            <td style="width: 10%;"><%= quotation.uid %></td>
            <td style="width: 20%;"><%= quotation.subject %></td>
            <td style="width: 10%;"><%= number_to_currency(quotation.total, unit: "₱ ") %></td>
            <td style="width: 10%;"><%= quotation.created_at.strftime("%d %b %Y") %></td>
            <td style="width: 7%; text-align: center;"><span class="status <%= quotation.status %>"><%= quotation.status.capitalize %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Request Forms" %>
        <% documents&.each do |form| %>
          <tr onclick="window.location='<%= request_form_path(form) %>'" style="cursor: pointer">
            <td style="width: 6%;"><%= form.company.code %></td>
            <td style="width: 10%;"><%= form.uid %></td>
            <td style="width: 20%;"><%= (form.products.any? ? form.products.map(&:name).join(", ") : (form.particulars&.any? ? form.particulars.map(&:name).join(", ") : "")) %></td>
            <td style="width: 10%;"><%= number_to_currency(form.total, unit: "₱ ") %></td>
            <td style="width: 10%;"><%= form.created_at.strftime("%d %b %Y") %></td>
            <td style="width: 7%; text-align: center;"><span class="status <%= form.status %>"><%= form.status.capitalize %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Canvasses" %>
        <% documents&.each do |canvass| %>
          <tr onclick="window.location='<%= canvass_path(canvass) %>'" style="cursor: pointer">
            <td style="width: 6%;"><%= canvass.company.code %></td>
            <td style="width: 10%;"><%= canvass.uid %></td>
            <td style="width: 30%;"><%= canvass.description %></td>
            <td style="width: 10%;"><%= canvass.created_at.strftime("%d %b %Y") %></td>
            <td style="width: 7%; text-align: center;"><span class="status <%= canvass.status %>"><%= canvass.status.capitalize %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Purchase Orders" %>
        <% documents&.each do |po| %>
          <tr onclick="window.location='<%= purchase_order_path(po) %>'" style="cursor: pointer">
            <td style="width: 6%;"><%= po.company.code %></td>
            <td style="width: 10%;"><%= po.uid %></td>
            <td style="width: 20%;"><%= po.products.map(&:name).join(", ") %></td>
            <td style="width: 10%;"><%= number_to_currency(po.total, unit: "₱ ") %></td>
            <td style="width: 10%;"><%= po.created_at.strftime("%d %b %Y") %></td>
            <td style="width: 7%; text-align: center;"><span class="status <%= po.status %>"><%= po.status&.capitalize %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Projects" %>
        <% documents&.each do |project| %>
          <tr onclick="window.location='<%= project_path(project) %>'" style="cursor: pointer">
            <td style="width: 6%;"><%= project.company.code %></td>
            <td style="width: 10%;"><%= project.uid %></td>
            <td style="width: 20%;"><%= project.po_number %></td>
            <td style="width: 10%;"><%= number_to_currency(project&.amount, unit: "₱ ") %></td>
            <td style="width: 10%;"><%= project&.created_at&.strftime("%d %b %Y") %></td>
            <td style="width: 7%; text-align: center;"><span class="status <%= project.status&.downcase %>"><%= project.status&.capitalize %></span></td>
          </tr>
        <% end %>
      <% elsif title == "Employees" %>
        <% if current_user.admin? || current_user.developer? %>
          <% documents&.each do |employee| %>
            <% unless employee.information_technology? %>
              <tr>
                <td><%= employee.first_name&.titleize %> <%= employee.last_name&.titleize %></td>
                <td><%= employee.department&.humanize&.titleize %></td>
                
                <td><%= employee.position&.titleize %></td>
                <td><%= employee.role&.capitalize %></td>
                
                <% if employee.developer? %>
                <% elsif employee.manager?%>
                  <td></td>
                <% else %>
                  <td>
                    <%= link_to promote_employee_path(employee), class: "btn btn-sm", id: "btn-approve", style: "text-decoration: none; color: white; font-size: 12px;", data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to promote #{employee.first_name.titleize} #{employee.last_name.titleize}?" } do %>
                      <i class="fas fa-arrow-up"></i> Promote
                    <% end %>
                    <%= link_to demote_employee_path(employee), class: "btn btn-sm", id: "btn-reject", style: "text-decoration: none; color: white; font-size: 12px;", data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to demote #{employee.first_name.titleize} #{employee.last_name.titleize}?" } do %>
                      <i class="fas fa-arrow-down"></i> Demote
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% elsif title == "Whitelisted Employees" %>
        <% documents&.each do |employee| %>
          <tr>
            <td><%= employee.email %></td>
            <td><%= employee.department&.capitalize %></td>
            <td><%= employee.created_at.strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
      <% elsif title == "Suppliers" %>
        <% documents&.each do |supplier| %>
          <tr onclick="window.location='<%= supplier_path(supplier) %>'" style="cursor: pointer">
            <td style="width: 10%;"><%= supplier.company.code %></td>
            <td style="width: 25%;"><%= supplier.name %></td>
            <td style="width: 10%;"><%= supplier.code %></td>
            <td style="width: 35%;"><%= supplier.address %></td>
          </tr>
        <% end %>
      <% elsif title == "Clients" %>
        <% documents&.each do |client| %>
          <tr onclick="window.location='<%= client_path(client) %>'" style="cursor: pointer">
            <td style="width: 10%;"><%= client.company.code %></td>
            <td style="width: 25%;"><%= client.name %></td>
            <td style="width: 10%;"><%= client.code %></td>
            <td style="width: 35%;"><%= client.address %></td>
          </tr>
        <% end %>
      <% elsif title == "Voided Documents" %>
        <% documents&.each do |document| %>
          <tr onclick="window.location='<%= polymorphic_path(document) %>'" style="cursor: pointer">
            <td style="width: 10%;"><%= document.company.code %></td>
            <td style="width: 20%;"><%= document.class.name.underscore.titleize %></td>
            <td style="width: 20%;"><%= document.uid %></td>
            <td style="width: 20%;"><%= document.deleted_at.strftime("%b %d, %Y - %I:%M %p") %></td>
            <td style="width: 20%;"><%= document.deleted_by&.full_name %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody> 
  </table>
<% end %>