<div class="form-container">
  <%= form_with(model: employee) do |form| %>
    <% if employee.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
        <ul>
          <% employee.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email, placeholder: "e.g. john@goldenarrow.ph" %>
    </div>
    <div class="field">
      <%= form.label :department, style: "display: block" %>
      <div class="select-container">
        <%= form.select :department, Employee.departments.keys.map { |d| [d.titleize, d] }, { prompt: "Select Department" } %>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10 icon select-status-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
      </div>
    </div>
    <div class="mt-4">
      <%= form.submit "Add to Whitelist", class: "submit-button" %>
    </div>
    <div class="text-center fs-6">
      <%= link_to "Back", employees_path %>
    </div>
  <% end %>
</div>