<%= form_with(model: purchase_order, data: {controller: 'purchase-order'}) do |form| %>
  <% if purchase_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>
      <ul>
        <% purchase_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div data-controller="company-select">
    <div>
      <%= form.label :company, style: "display: block" %>
      <% Company.all.each do |company| %>
        <%= form.radio_button :company_id, company.id, data: { action: "company-select#selectCompanyForRequestFormsAndSuppliers" } %> <%= company.code %>
      <% end %>
    </div>
    <div>
      <%= form.label :employee_id, "Prepared By", style: "display: block" %>
      <%= form.collection_select :employee_id, Employee.all, :id, :name%>
    </div>
    <div>
      <%= form.label :supplier_id, "Vendor",style: "display: block" %>
      <%= form.collection_select :supplier_id, [], :id, :uid, { prompt: "Select Vendor" }, { style: "display: block", data: { company_select_target: "supplierSelect" } } %>
    </div>
    <div>
      <%= form.label :request_form_ids, "Request Form", style: "display: block" %>
      <%= form.select :request_form_ids, options_from_collection_for_select([], :id, :uid), {}, { multiple: true, data: { controller: 'slim', slim_target: 'field', company_select_target: "requestFormSelect", purchase_order_target: "requestFormSelect" } } %>    </div>
  </div>
  <button data-action="purchase-order#handleContinueButton">Continue</button>
  <div data-purchase-order-target="itemsContainer"></div>
  <div class="hidden">
    <!--
    <div>
      <%= form.label :discount, style: "display: block" %>
      <%= form.text_field :discount %>
    </div>
  -->
    <div>
      <%= form.label :terms, style: "display: block" %>
      <%= form.collection_select :terms, PurchaseOrder.terms.keys, :to_s, :to_s, { prompt: "Select Payment Terms" }, { style: "display: block" } %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  </div>
  <br>
  <!--
  <div>
    <%= form.label :requester, style: "display: block" %>
    <%= form.text_field :requester %>
  </div>
  <div>
    <%= form.label :checker, style: "display: block" %>
    <%= form.text_field :checker %>
  </div>
  <div>
    <%= form.label :pre_approver, style: "display: block" %>
    <%= form.text_field :pre_approver %>
  </div>
  <div>
    <%= form.label :approver, style: "display: block" %>
    <%= form.text_field :approver %>
  </div>
  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.text_field :project_id %>
  </div>
  -->
<% end %>
