<div class="form-container" data-controller="form-exit-prevention">
  <%= form_with(model: purchase_order, html: { autocomplete: "off" }, data: {
    controller: 'purchase-order nested-form form-validation', 
    nested_form_wrapper_selector_value: '.nested-form-wrapper',
    form_validation_target: "form",
    action: 'submit->form-validation#validatePurchaseOrderForm'
  }) do |form| %>
    <% if purchase_order.errors.any? %>
      <div style="color: red">
        <h5><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h5>
        <ul>
          <% purchase_order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div data-controller="company-select total-calculator">
      <div class="field flex" id="company-field">
        <%= form.label :company %>
        <div>
          <% Company.all.each do |company| %>
            <%= form.radio_button :company_id, company.id, data: { action: "company-select#selectCompanyForProjectsAndSuppliers" } %> <%= company.code %>
          <% end %>
        </div>
      </div>
      <div class="<%= 'hidden' if purchase_order.new_record? %>">
        <div class="separator"></div>
        <div class="field" data-company-select-target="projectSelectField">
          <%= form.label :project_id %>
          <div class="select-container">
            <%= form.collection_select :project_id,
            purchase_order.new_record? ? [] : 
              (purchase_order.gat? ? Project.all.select(&:gat?) : 
               purchase_order.gcmes? ? Project.all.select(&:gcmes?) : []),
            :id, :uid,
            { prompt: "Select Project" },
            { data: { 
                company_select_target: "projectSelect",
                form_validation_target: "projectSelect" 
              }
            } %>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10 icon select-status-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
          </div>
          <div class="error-message hidden" data-form-validation-target="projectError">
            Please select a project
          </div>
        </div>
        <div class="separator"></div>
        <div class="field">
          <%= form.label :supplier_id %>
          <div class="select-container">
            <%= form.collection_select :supplier_id,
            purchase_order.new_record? ? [] : 
              (purchase_order.gat? ? Supplier.all.select(&:gat?) : 
               purchase_order.gcmes? ? Supplier.all.select(&:gcmes?) : []),
            :id, :name,
            { prompt: "Select Vendor" }, 
            { data: { 
                company_select_target: "supplierSelect",
                form_validation_target: "supplierSelect"
              } 
            } %>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10 icon select-status-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
          </div>
          <div class="error-message hidden" data-form-validation-target="supplierError">
            Please select a supplier
          </div>
        </div>
        <div class="field">
          <%= form.label :terms, "Payment Terms" %>
          <div class="select-container">
            <%= form.collection_select :terms, PurchaseOrder.terms.keys, :to_s, :to_s, 
              { prompt: "Select Payment Terms" },
              { data: { form_validation_target: "termsSelect" } } %>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10 icon select-status-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
          </div>
          <div class="error-message hidden" data-form-validation-target="termsError">
            Please select payment terms
          </div>
        </div>
        <!--
     
      <div class="field">
        <%= form.label :request_form_ids, "Request Form" %>
        <div class="select-container">
          <%= form.select :request_form_ids, 
            options_from_collection_for_select([], :id, :uid), 
            {}, 
            { multiple: true, 
              data: { 
                controller: 'slim', 
                slim_target: 'field', 
                company_select_target: "requestFormSelect", 
                purchase_order_target: "requestFormSelect",
                form_validation_target: "requestFormSelect"
              } 
            } %>
        </div>
        <div class="error-message hidden" data-form-validation-target="requestFormError">
          Please select at least one request form
        </div>
      </div>
      <button class="add-item-button" data-action="purchase-order#handleContinueButton" style="padding: 10px 20px;">
        <i class="fas fa-arrow-right"></i> Continue
      </button>
       -->
        <div data-purchase-order-target="itemsContainer"></div>
        <p class="semibold" style="margin-bottom: 10px;">Item Table</p>
        <table class="item-table">
          <thead>
            <tr id="table-header">
              <th style="width: 30%;">ITEM</th>
              <th class="align-right" style="width: 15%;">QUANTITY</th>
              <th class="align-right" style="width: 15%;">U/M</th>
              <th class="align-right" style="width: 15%;">UNIT PRICE</th>
              <th style="width: 3%;"></th>
            </tr>
          </thead>
        </table>
        <template data-nested-form-target="template">
          <%= form.fields_for :products, Product.new, child_index: 'NEW_RECORD' do |product_fields| %>
            <%= render "purchase_orders/purchase_order_product", f: product_fields %>
          <% end %>
        </template>
        <%= form.fields_for :products do |product_fields| %>
          <%= render "purchase_orders/purchase_order_product", f: product_fields %>
        <% end %>
        <div data-nested-form-target="target"></div>
        <%= link_to '<i class="fas fa-plus"></i> Add Item'.html_safe, '#', class: 'add-item-button', data: { action: "nested-form#add" } %>
        <div class="error-message hidden" data-form-validation-target="itemsError">
          Please add at least one item and fill in all required fields
        </div>
        <div class="total-calculator">
          <div class="totals-section">
            <div class="total-row total-final">
              <span class="total-label">Total Amount:</span>
              <span data-total-calculator-target="total">PHP 0.00</span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <%= form.submit %>
          </div>
          <div class="text-center">
            <%= link_to 'Cancel', purchase_order.persisted? ? purchase_order_path(purchase_order) : purchase_orders_path %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
