<div class="nested-form-wrapper" style="margin-bottom: 0;" data-new-record="<%= f.object.new_record? %>">
  <table class="item-table" data-form-validation-target="itemsTable">
    <tbody>
      <tr data-new-record="<%= f.object.new_record? %>">
        <td style="width: 30%;">
          <%= f.text_field :name %>
        </td>
        <td style="width: 15%;">
          <%= f.number_field :quantity, class: "align-right", data: { action: "input->total-calculator#calculate" }, onwheel: "return false" %>
        </td>
        <td style="width: 15%;">
          <%= f.select :unit,
                  options_for_select([['Select Unit', '']] + ApplicationRecord::UNIT_OF_MEASUREMENTS.map { |unit| [unit, unit] }, f.object.unit),
                  { include_blank: false },
                  { class: "align-right" } %>
        </td>
        <td style="width: 15%;" >
          <%= f.number_field :price, placeholder: "0.00", class: "align-right", data: { action: "input->total-calculator#calculate" }, onwheel: "return false" %>
        </td>
        <td style="width: 3%; text-align: center; vertical-align: middle;">
          <% if f.object.purchase_order&.products&.first != f.object %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "remove-item-button", data: { action: "nested-form#remove" } %>
            <%= f.hidden_field :_destroy %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>