<div class="form-container">
  <%= form_with(model: canvass, html: { autocomplete: "off" }, data: {
  controller: "nested-form form-validation",
  nested_form_wrapper_selector_value: '.nested-form-wrapper',
  form_validation_target: "form",
  action: "submit->form-validation#validateCanvassForm"
}) do |form| %>
    <% if canvass.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(canvass.errors.count, "error") %> prohibited this canvass from being saved:</h2>
        <ul>
          <% canvass.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div data-controller="company-select" data-edit-mode="<%= canvass.persisted? %>">
      <div class="field flex" id="company-field">
        <%= form.label :company, style: "display: block" %>
        <div>
          <% Company.all.each do |company| %>
            <%= form.radio_button :company_id, company.id, data: { action: "company-select#selectCompanyForProjects" } %> <%= company.code %>
          <% end %>
        </div>
      </div>
      <div class="<%= 'hidden' if canvass.new_record? %>" data-controller="shared-fields">
        <div class="separator"></div>
        <div>
          <div class="field hidden" data-company-select-target="projectSelectField">
            <%= form.label :project_id %>
            <div class="select-container">
              <%= form.collection_select :project_id, [], :id, :uid, 
                { prompt: "Select Project"}, 
                data: { 
                  company_select_target: "projectSelect",
                  form_validation_target: "projectSelect"
                } %>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10 icon select-status-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
            </div>
            <div class="error-message hidden" data-form-validation-target="projectError">
              Please select a project
            </div>
          </div>
          <div class="separator"></div>
          <div class="product-section">
            <div class="semibold">Product Details</div>
            <div class="field">
              <%= form.label :description, "Item Description", style: "display: block" %>
              <%= form.text_field :description, 
                data: { 
                  shared_fields_target: "descriptionField",
                  form_validation_target: "descriptionInput"
                }, 
                style: "width: 100%;" %>
              <div class="error-message hidden" data-form-validation-target="descriptionError">
                Please enter an item description
              </div>
            </div>
            <div class="field">
              <%= form.label :quantity, style: "display: block" %>
              <%= form.number_field :quantity, 
                data: { 
                  shared_fields_target: "quantityField",
                  form_validation_target: "quantityInput"
                }, 
                style: "width: 100%;",
                onwheel: "return false" %>
              <div class="error-message hidden" data-form-validation-target="quantityError">
                Please enter a quantity
              </div>
            </div>
            <div class="field">
              <%= form.label :unit, "Unit", style: "display: block" %>
              <div class="select-container">
                <%= form.select :unit, 
                  options_for_select([['Select Unit', '']] + ApplicationRecord::UNIT_OF_MEASUREMENTS.map { |unit| [unit, unit] }, canvass.unit), 
                  { include_blank: false },
                  data: { 
                    shared_fields_target: "unitField",
                    form_validation_target: "unitSelect"
                  } %>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10 icon select-status-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
              </div>
              <div class="error-message hidden" data-form-validation-target="unitError">
                Please select a unit
              </div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="supplier-section">
            <p class="semibold" style="margin-bottom: 10px;">Supplier Table</p>
            <table class="canvass-product-table">
              <thead>
                <tr id="table-header">
                  <th style="width: 30%;">SUPPLIER</th>
                  <th class="align-right" style="width: 15%;">UNIT PRICE</th>
                  <th style="width: 15%;">BRAND</th>
                  <th style="width: 15%;">TERMS</th>
                  <th style="width: 15%;">REMARKS</th>
                  <th style="width: 10%;"></th>
                </tr>
              </thead>
            </table>
            <template data-nested-form-target="template">
              <%= form.fields_for :products, Product.new, child_index: 'NEW_RECORD' do |product_fields| %>
                <%= render "canvasses/canvass_product_form", f: product_fields %>
              <% end %>
            </template>
            <%= form.fields_for :products do |product_fields| %>
              <%= render "canvasses/canvass_product_form", f: product_fields %>
            <% end %>
            <div data-nested-form-target="target"></div>
          </div>
          <%= link_to '<i class="fas fa-plus"></i> Add Supplier'.html_safe, '#', class: 'add-item-button', data: { action: "nested-form#add" } %>
          <div class="error-message hidden" data-form-validation-target="suppliersError">
            Please add at least one supplier and fill in all required fields
          </div>
          <div style="margin-top: 20px;">
            <%= form.submit data: { action: "shared-fields#sync" } %>
          </div>
          <div class="text-center">
            <%= link_to 'Cancel', action_name == 'new' ? canvasses_path : canvass_path(@canvass) %>
          </div>
        </div>
      <% end %>
    </div>