<div class="document-page show-page page client-page" id="<%= dom_id client %>">
  <%= render 'pages/components/show_header', document: client %>
  <br>
  <%= render 'pages/components/action_buttons', document: client %>
  <div class="client-card">
    <p class="client-name">
      <%= client.name %>
    </p>
    <p class="client-address">
      <%= client.address %>
    </p>
    <hr>
    <table>
      <tbody>
        <% client.contacts.each do |contact| %>
          <tr>
            <td> <%= contact.salutation %> <%= contact.name.capitalize %></td>
            <td><%= contact.contact_numbers.join(', ') %></td>
            <% unless contact.emails == [""] %>
              <td> <%= contact.emails.join(', ') %><%= mail_to contact.emails.first, '<i class="far fa-envelope" style="margin-left: 5px;"></i>'.html_safe %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <% if client.projects.any? %>
    <div class="projects-with-client-card">
      <div class="document-container" >
        <div class="header" style="margin-bottom: 0;">
          <p class="document-title">Projects</p>
          <div class="flex space-between flex-end" style="margin-bottom: 16px;"  data-controller="table-filter flatpickr" data-table-filter-url-value="<%= request.path %>">
            <div class="pagination">
              <%== pagy_nav(@pagy) if @pagy.present? && @pagy.pages > 1 %>
            </div>
            <div class="search-bar">
              <div class="relative">
                <i class="fa-regular fa-calendar"></i>
                <input type="text" 
            class="date-picker-input"
            placeholder="mm/dd/yy" 
            data-table-filter-target="dateInput"
            data-flatpickr-target="dateInput"
            data-action="change->table-filter#filter" />
                <span class="clear-date-btn" 
             data-action="click->table-filter#clearDate"
                  data-flatpickr-target="clearDateBtn"
                  data-table-filter-target="clearDateBtn"
                  title="Clear date">Clear Filter</span>
                <input type="text" 
        placeholder="Search..." 
        data-table-filter-target="searchInput"
        data-action="input->table-filter#search" />
              </div>
            </div>
          </div>
        </div>
        <%= render "components/table_body", documents: client.projects, title: 'Projects' %>
      </div>
    </div>
  <% end %>
</div>
