<div class="action-buttons flex flex-start">
  <% if %w[client supplier].include?(document.class.name.underscore) %>
    <button class="button flex items-center white">
      <%= link_to send("edit_#{document.class.name.underscore}_path", document) do %>
        <i class="fa-regular fa-edit"></i>
        <span>Edit</span>
      <% end %>
    </button>
    <%= button_to send("#{document.class.name.underscore}_path", document), 
                method: :delete, 
                class: "button flex items-center white", 
                style: "background-color: var(--danger-color);", 
                data: { turbo_confirm: "Are you sure you want to delete '#{document.name}'?" } do %>
      <i class="fa-regular fa-trash-can"></i>
      <span class="white">Delete</span>
    <% end %>
  <% else %>
    <% if document.class.name != "Project" && !document.approved? %>
      <button class="button flex items-center white">
        <%= link_to send("edit_#{document.class.name.underscore}_path", document) do %>
          <i class="fa-regular fa-edit"></i>
          <span>Edit</span>
        <% end %>
      </button>
    <% end %>
    <%# <button class="button flex items-center" style="background-color: white;">
    <i class="fa-regular fa-comment"></i>
    <span>Comments</span>
  </button> %>
    <% if document.class.name == "Project" %>
      <button class="button flex items-center white">
        <%= link_to send("edit_#{document.class.name.underscore}_path", document) do %>
          <i class="fa-regular fa-edit"></i>
          <span>Edit</span>
        <% end %>
      </button>
    <%end%>
    <% if document.class.name != "Project" && !document.approved? %>
      <%= button_to send("void_#{document.class.name.underscore}_path", document), 
                method: :delete, 
                class: "button flex items-center white", 
                style: "background-color: var(--danger-color);", 
                data: { turbo_confirm: "Are you sure you want to void '#{document.uid}'?" } do %>
        <i class="fa-regular fa-trash-can"></i>
        <span class="white">Void</span>
      <% end %>
    <% end %>
    <% if document.class.name != "Project" && !document.approved? %>
      <%= button_to send("approve_#{document.class.name.underscore}_path", document), 
                method: :patch, 
                class: "button flex items-center white", 
                id: "btn-approve", 
                data: { turbo_confirm: "Are you sure you want to approve '#{document.uid}'?" } do %>
        <i class="fa-regular fa-circle-check"></i>
        <span>Approve</span>
      <% end %>
    <% end %>
    <% if document.class.name != "Project" && document.approved? %>
      <%= button_to send("pending_#{document.class.name.underscore}_path", document), 
                method: :patch, 
                class: "button flex items-center white", 
                id: "btn-reject", 
                data: { turbo_confirm: "Are you sure you want to unapprove '#{document.uid}'?" } do %>
        <i class="fa-regular fa-circle-xmark"></i>
        <span>Unapprove</span>
      <% end %>
    <% end %>
  <% end %>
</div>
