<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="grid with-7-columns align-self-end">
    <div>
      <%#= f.label :name, "Item Name", style: "display: block" %>
      <%= f.label :name, style: "display: block" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :brand, style: "display: block" %>
      <%= f.text_field :brand %>
    </div>
    <div>
      <%= f.label :quantity, style: "display: block" %>
      <%= f.number_field :quantity %>
    </div>
    <div>
      <%= f.label :unit, "U/M", style: "display: block" %>
      <%= f.text_field :unit %>
    </div>
    <div>
      <%= f.label :price, "Unit Price", style: "display: block" %>
      <%= f.text_field :price, value: f.object.price != 0.0 ? f.object.price : nil %>
    </div>
    <!--
    <div>
      <%= f.label :discount, "Discount", style: "display: block" %>
      <%= f.text_field :discount, value: f.object.discount != 0.0 ? f.object.discount : nil %>
    </div>
    -->
    <div class="grid">
      <%= f.label :image, style: "display: block" %>
      <%= f.file_field :image %>
    </div>
    <!--
    -->
    <div>
      <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "button", data: { action: "nested-form#remove" } %>
      <%= f.hidden_field :_destroy %>
    </div>
  </div>
  <%# <p>Specifications</p> %>
  <template data-nested-form-target="template">
    <%= f.fields_for :specs, Spec.new, child_index: 'NEW_RECORD' do |spec_fields| %>
      <div class="nested-spec-form grid with-5-columns">
        <div>
          <%= spec_fields.label :name %>
          <%= spec_fields.text_field :name %>
        </div>
        <div>
          <%= spec_fields.label :value %>
          <%= spec_fields.text_field :value %>
        </div>
        <div>
          <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "button", data: { action: "nested-form#removeSpec" } %>
        </div>
        <%#= link_to "Remove Spec", "#", class: "button", data: { action: "nested-form#removeSpec" } %>
        <%= spec_fields.hidden_field :_destroy %>
      </div>
    <% end %>
  </template>
  <div data-nested-form-target="target"></div>
  <%= link_to 'Add Specification', '#', class: 'button', data: { action: "nested-form#addSpec" } %>
</div>
