<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <table class="quotation-product-table">
    <tbody>
      <tr>
        <td style="width: 30%;"><%= f.text_field :name %></td>
        <td style="width: 15%;"><%= f.text_field :brand %></td>
        <td style="width: 10%;"><%= f.number_field :quantity, style: "text-align: right", placeholder: "0.00", data: { action: "input->total-calculator#calculate" } %></td>
        <td style="width: 10%;"><%= f.select :unit,
                  options_for_select([['Select Unit', '']] + ApplicationRecord::UNIT_OF_MEASUREMENTS.map { |unit| [unit, unit] }),
                  { include_blank: false },
                  { style: "text-align: right" } %></td>
        <td style="width: 15%;"><%= f.number_field :price, value: f.object.price != 0.0 ? f.object.price : nil, style: "text-align: right", placeholder: "0.00", data: { action: "input->total-calculator#calculate" } %></td>
        <td style="width: 15%;"><%= f.file_field :image %></td>
        <td style="width: 10%; text-align: center; vertical-align: middle;">
          <% unless f.object == f.object.quotation&.products&.first %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "remove-item-button", data: { action: "nested-form#remove" } %>
            <%= f.hidden_field :_destroy %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="7" style="position: relative; padding: 10px;">
          <%= link_to '<i class="fas fa-plus"></i> Add Spec'.html_safe, '#', class: 'add-item-button', data: { action: "nested-form#addSpec" }, style: "position: absolute; left: 15px; bottom: 5px" %>
          <div class="hidden" id="spec-title">
            <p>Specification</p>
            <p>Value</p>
          </div>
          <%= f.fields_for :specs do |spec_fields| %>
            <div class="nested-spec-form">
              <div>
                <%= spec_fields.text_field :name, style: "border: 1px solid #ccc;" %>
              </div>
              <div>
                <%= spec_fields.text_field :value, style: "border: 1px solid #ccc;" %>
              </div>
              <div>
                <% unless f.object == f.object.quotation&.products&.first&.specs&.first %>
                  <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "remove-item-button", data: { action: "nested-form#removeSpec" } %>
                <% end %>
              </div>
              <%= spec_fields.hidden_field :_destroy %>
            </div>
          <% end %>
          <div data-nested-form-target="spec-target"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <template data-nested-form-target="template">
    <%= f.fields_for :specs, Spec.new, child_index: 'NEW_RECORD' do |spec_fields| %>
      <div class="nested-spec-form">
        <div>
          <%= spec_fields.text_field :name, style: "border: 1px solid #ccc;" %>
        </div>
        <div>
          <%= spec_fields.text_field :value, style: "border: 1px solid #ccc;" %>
        </div>
        <div>
          <% unless f.object == f.object.specs&.first %>
            <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "remove-item-button", data: { action: "nested-form#removeSpec" } %>
          <% end %>
        </div>
        <%= spec_fields.hidden_field :_destroy %>
      </div>
    <% end %>
  </template>
</div>
