<div id="<%= dom_id quotation %>">
  <!--
-->
  <p>
    <strong>Uid:</strong>
    <%= quotation.uid %>
  </p>
  <p>
    <strong>Company</strong>
    <%= quotation.company.code %>
  </p>
  <p>
    <strong>Client:</strong>
    <%= quotation.client.name %>
  </p>
  <p>
    <strong>Attention:</strong>
    <%= quotation.attention %>
  </p>
  <p>
    <strong>Vessel:</strong>
    <%= quotation.vessel %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= quotation.subject %>
  </p>
  <%# <p> %>
  <%# <strong>User:</strong> %>
  <%#= quotation.user_id %>
  <%# </p> %>
  <strong>Items</strong>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Brand</th>
        <th>Description</th>
        <th>Specs</th>
        <th>Remarks</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% quotation.products.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.unit %></td>
          <td><%= p.quantity %></td>
          <td><%= p.price %></td>
          <td><%= p.discount %></td>
          <td><%= p.brand %></td>
          <td><%= p.description %></td>
          <td><%= p.specs %></td>
          <td><%= p.remarks %></td>
          <td><%= p.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <strong>Lead time:</strong>
    <%= quotation.lead_time %>
  </p>
  <p>
    <strong>Warranty:</strong>
    <%= quotation.warranty %>
  </p>
  <p>
    <strong>Sub total:</strong>
    <%= quotation.sub_total %>
  </p>
  <p>
    <strong>Vat:</strong>
    <%= quotation.vat %>
  </p>
  <p>
    <strong>Total:</strong>
    <%= quotation.total %>
  </p>
  <p>
    <strong>Additional conditions:</strong>
    <%= quotation.additional_conditions %>
  </p>
</div>
