  
<div class="grid with-4-columns align-self-end">
  <p class="semibold">Specifications</p>
  <template data-nested-form-target="template">
    <%= f.fields_for :specs, Spec.new, child_index: 'NEW_RECORD' do |spec_fields| %>
      <div class="spec-fields">
        <%= spec_fields.label :name %>
        <%= spec_fields.text_field :name %>
        <%= spec_fields.label :value %>
        <%= spec_fields.text_field :value %>
      </div>
    <% end %>
  </template>
  <%= f.fields_for :specs do |spec_fields| %>
    <div class="spec-fields">
      <%= spec_fields.label :name %>
      <%= spec_fields.text_field :name %>
      <%= spec_fields.label :value %>
      <%= spec_fields.text_field :value %>
      <%= spec_fields.check_box :_destroy %>
      <%= spec_fields.label :_destroy, "Remove this spec" %>
    </div>
  <% end %>
  <div data-nested-form-target="target"></div>
  <%= link_to 'Add Specification', '#', class: 'button', data: { action: "nested-form#add" } %>
</div>
