<div class="pdf-container">
  <header class="flex space-between items-center">
    <%= render 'components/pdf/header', document: @quotation %>
  </header>
  <p class="align-right">
    Date Requested: <%= @quotation.created_at.strftime("%B %d, %Y") %>
  </p>
  <table id="customer-table">
    <thead>
      <tr>
        <th class="text-center" colspan="2">CUSTOMER DETAILS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 20%;">Company Name</td>
        <td><%= @quotation.client.name %></td>
      </tr>
      <tr>
        <td>Business Address</td>
        <td><%= @quotation.client.address %></td>
      </tr>
      <tr>
        <td>Attention</td>
        <td><%= @quotation.attention&.capitalize %></td>
      </tr>
      <tr>
        <td>Vessel</td>
        <td><%= @quotation.vessel&.capitalize %></td>
      </tr>
    </tbody>
  </table>
  <strong>Subject:</strong>
  <%= @quotation.subject %>
  <table id="products-table">
    <thead>
      <tr>
        <th>SN</th>
        <th colspan="2">DESCRIPTION</th>
        <th class="align-right">QUANTITY</th>
        <th class="align-right">U/M</th>
        <th class="align-right">UNIT PRICE</th>
        <th class="align-right">TOTAL AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <% @quotation.products.each_with_index do |p, index| %>
        <tr>
          <td style="border: 1px solid black;"><%= index + 1 %></td>
          <td colspan="2"><%= p.name %></td>
          <td class="align-right"><%= p.quantity %></td>
          <td class="align-right"><%= p.unit %></td>
          <td class="align-right">PHP <%= number_with_precision(p.price, precision: 2, delimiter: ',') %></td>
          <td class="align-right">PHP <%= number_with_precision(p.total, precision: 2, delimiter: ',') %></td>
        </tr>
        <tr>
          <td></td>
          <td>BRAND</td>
          <td><%= p.brand %></td>
        </tr>
        <% p.specs.each do |spec| %>
          <tr>
            <td></td>
            <td><%= spec.name&.capitalize %></td>
            <td><%= spec.value&.capitalize %></td>
          </tr>
        <% end %>
        <% if p.image.attached? %>
          <tr>
            <td></td>
            <td style="text-align: center;" colspan="2">
              <% image_data = p.image.download %>
              <%= image_tag("data:image/png;base64,#{Base64.strict_encode64(image_data)}", style: "width: 100px; height: 100px;") %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="6"></td>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>
<table id="totals-table">
  <tr>
    <td><strong>SUB TOTAL</strong></td>
    <td><strong>PHP <%= number_with_precision(@quotation.sub_total, precision: 2, delimiter: ',') %></strong></td>
  </tr>
  <% if @quotation.discount > 0 %>
    <tr>
      <td><strong>DISCOUNT</strong></td>
      <td><strong>(<%= number_with_precision(@quotation.discount, precision: 2, delimiter: ',') %>)</strong></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>12% VAT</strong></td>
    <td><strong><%= number_with_precision(@quotation.vat, precision: 2, delimiter: ',') %></strong></td>
  </tr>
  <tr id="total-row">
    <td><strong>TOTAL</strong></td>
    <td><strong>PHP <%= number_with_precision(@quotation.total, precision: 2, delimiter: ',') %></strong></td>
  </tr>
</table>
<br>
<div id="terms-container">
  <p><strong>TERMS AND CONDITIONS</strong></p>
  <div id="terms-details">
    <div><strong>Lead time</strong></div>
    <div><%= @quotation.lead_time %></div>
    <div><strong>Warranty</strong></div>
    <div><%= @quotation.warranty %></div>
    <div><strong>Payment</strong></div>
    <div><%= @quotation.payment %></div>
  </div>
</div>
<br>
<div>
  <div class="align-center">Note: This document is not valid without manager&rsquo;s signature</div>
  <table class="signatures-table">
    <thead>
      <tr>
        <th>Conforme by</th>
        <th>Prepared by</th>
        <th>Approved by</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <% if @quotation.user&.signature&.attached? %>
            <%= image_tag @quotation.user.signature.variant(resize_to_limit: [300, 100]), class: "signature-image"%>
          <% end %>
          <p><%= @quotation.user&.first_name&.titleize %> <%= @quotation.user&.last_name&.titleize %></p>
        </td>
        <% if @quotation.approved? %>
          <td>
            <%= image_tag "#{request.base_url}/assets/fake-signature.png", class: "signature-image" %>
            <p>Robert D. Bautista</p>
          </td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>