<div class="show-page">
  <%= render 'pages/components/show_header', document: document %>
  <p id="<%= document.class.name.downcase %>-uid"><%= document.uid %></p>
  <%= render 'pages/components/action_buttons', document: document %>
  <div class="">
    <iframe 
      src="<%= pdf_view_quotation_path(@quotation) %>"
      width="650px" 
      height="700px" 
      frameborder="0">
    </iframe>
  </div>
</div>
