<div class="show-page">
  <%= render 'pages/components/show_header', document: document %>
  <div class="">
    <p style="display:inline-block;" id="document-uid"><%= document.uid %></p>
    <div style="margin: 0 0 6px 10px;" class="status-dot <%= document.status.downcase %>"></div>
  </div>  
  <%= render 'pages/components/action_buttons', document: document %>
  <!--
  -->
  <div class="flex column-gap-50">
  <%#binding.pry%>
    <iframe 
      src="<%= case document.class.name.underscore
                when 'quotation' then url_for(document.pdf_report)
                when 'canvass' then url_for(document.pdf_report)
                when 'request_form' then pdf_view_request_form_path(document)
                when 'purchase_order' then pdf_view_purchase_order_path(document)
                else '#' # Fallback or default case
              end %>"
      width="750px" 
      height="1000px"
      style="border: 1px solid #e2e8f0; 
             border-radius: 8px;
             box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
             padding: 4px;"
      >
    </iframe>
    <% if document.project.present? %>
      <div class="linked-documents">
        <%= link_to project_path(document.project), class: "project-card" do %>
          <header>
            <%= document.project.uid %>
          </header>
          <hr>
          <div class="project-details">
            <div class="flex space-between">
              <div class="project-client">
                <p>Client</p>
                <p><%= document.project.client.name %></p>
              </div>
              <div class="project-amount">
                <p>Amount</p>
                <p><%= number_to_currency(document.project.amount, unit: "₱") %></p>
              </div>
            </div>
            <div class="flex space-between">
              <div class="project-po-number">
                <p>PO Number</p>
                <p><%= document.project.po_number.presence || "—" %></p>
              </div>
              <div class="project-payment">
                <p>Payment Term</p>
                <p><%= document.project.payment %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
