<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# <div> %>
  <%#= form.label :uid, style: "display: block" %>
  <%#= form.text_field :uid %>
  <%# </div> %>
  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.radio_button :company, "GAT" %> GAT
    <%= form.radio_button :company, "GCMES" %> GCMES
  </div>
  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.collection_select :client_id, Client.all, :id, :name, { prompt: "Select Client" }, { style: "display: block" } %>
  </div>
  <br>
  <div>
    <%= form.label :client_po, "Client's P.O.", style: "display: block" %>
    <%= form.file_field :client_po %>
  </div>
  <br>
  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>
  <div>
    <%= form.label :payment, style: "display: block" %>
    <%= form.select :payment, [['50% downpayment', '50% downpayment'], ['30 days', '30 days'], ['Paid', 'Paid']], { prompt: "Select Payment" }, { style: "display: block" } %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
