<!--
<div id="<%= dom_id project %>">
  <p>
    <strong>Uid:</strong>
    <%= project.uid %>
  </p>
  <p>
    <strong>Client:</strong>
    <%= project.client.name %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>
  <p>
    <% if project.client_po.attached? %>
      <%= link_to project.client_po, rails_blob_path(project.client_po, disposition: 'attachment') %>
    <% end %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= project.amount %>
  </p>
  <p>
    <strong>Payment:</strong>
    <%= project.payment %>
  </p>
</div>
-->
<div class="page document-page show-page project-page" id="<%= dom_id project %>">
  <%= render 'pages/components/show_header', document: project %>
  <br>
  <%= render 'pages/components/action_buttons', document: project %>
  <div class="project-card">
    <p class="project-name">
      <%= project.uid %>
    </p>
  </div>
  <div class="project-details">
    <p>
      <%= project.client.name %>
    </p>
  </div>
  <div class="project-details">
    <p>
      <%= project.status %>
    </p>
  </div>
  <div class="project-details">
    <p>
      <%= project.amount %>
    </p>
  </div>
  <div class="project-details">
    <p>
      <%= project.payment %>
    </p>
  </div>
  <div class="project-details">
    <p>
      <% if project.client_po.attached? %>
        <iframe src="<%= rails_blob_path(project.client_po, disposition: 'inline') %>"
                width="650px"
                height="700px"
                frameborder="0">
        </iframe>
      <% end %>
    </p>
  </div>
</div>
