<!--
<div id="<%= dom_id project %>">
  <p>
    <strong>Uid:</strong>
    <%= project.uid %>
  </p>
  <p>
    <strong>Client:</strong>
    <%= project.client.name %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>
  <p>
    <% if project.client_po.attached? %>
      <%= link_to project.client_po, rails_blob_path(project.client_po, disposition: 'attachment') %>
    <% end %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= project.amount %>
  </p>
  <p>
    <strong>Payment:</strong>
    <%= project.payment %>
  </p>
</div>
-->
<div class="page document-page show-page project-page" id="<%= dom_id project %>">
  <%= render 'pages/components/show_header', document: project %>
  <br>
  <%= render 'pages/components/action_buttons', document: project %>
  <div class="project-card">
    <div class="project-name mb-4">
      <%= project.uid %>
      <div style="margin-bottom: 5px;" class="status-dot <%= project.status.downcase %>"></div>
    </div>
    <div class="project-details">
      <p>
        <span class="semibold">Client:</span>
        <%= project.client.name %>
      </p>
    </div>
    <div class="project-details">
      <p>
        <span class="semibold">Amount:</span>
        PHP <%= number_with_precision(project.amount, precision: 2, delimiter: ',') %>
      </p>
    </div>
    <div class="project-details">
      <p>
        <span class="semibold">Terms:</span>
        <%= project.payment %>
      </p>
    </div>
    <div class="project-details">
      <p>
        <% if project.client_po.attached? %>
          <iframe src="<%= rails_blob_path(project.client_po, disposition: 'inline') %>"
                width="650px"
                height="700px"
                frameborder="0">
          </iframe>
        <% end %>
      </p>
    </div>
  </div>
  <div class="related-documents grid with-4-columns baseline">
    <div class="linked-documents">
      <div class="linked-documents-header">
        <p>Quotations</p>
      </div>
      <% if project.quotations.any? %>
        <div class="linked-documents-body">
          <% project.quotations.each do |quotation| %>
            <div class='document-link'>
              <%= link_to quotation.uid, quotation %>
              <% status_color = case quotation.status
                               when 'approved' then 'bg-green-500'
                               when 'rejected' then 'bg-red-500'
                               else 'bg-orange-500'
                               end %>
              <div class="status-dot <%= quotation.status %>"></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="linked-documents-body">
          <p>
            No Quotations
          </p>
        </div>
      <% end %>
    </div>
    <div class="linked-documents">
      <div class="linked-documents-header">
        <p>
          Canvasses
        </p>
      </div>
      <% if project.canvasses.any? %>
        <div class="linked-documents-body">
          <% project.canvasses.each do |canvass| %>
            <div class='document-link'>
              <%= link_to canvass.uid, canvass %>
              <% status_color = case canvass.status
                               when 'approved' then 'bg-green-500'
                               when 'rejected' then 'bg-red-500'
                               else 'bg-orange-500'
                               end %>
              <div class="status-dot <%= canvass.status %>"></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <!--
        <div class="linked-documents-body">
          <p>
            No Canvasses
          </p>
        </div>
      -->
      <% end %>
    </div>
    <div class="linked-documents">
      <div class="linked-documents-header">
        <p>
          Request Forms
        </p>
      </div>
      <% if project.request_forms.any? %>
        <div class="linked-documents-body">
          <% project.request_forms.each do |request_form| %>
            <div class='document-link'>
              <%= link_to request_form.uid, request_form %>
              <% status_color = case request_form.status
                               when 'approved' then 'bg-green-500'
                               when 'rejected' then 'bg-red-500'
                               else 'bg-orange-500'
                               end %>
              <div class="status-dot <%= request_form.status %>"></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="linked-documents-body">
        </div>
      <% end %>
    </div>
    <div class="linked-documents">
      <div class="linked-documents-header">
        <p>
          Purchase Orders
        </p>
      </div>
      <% if project.purchase_orders.any? %>
        <div class="linked-documents-body">
          <% project.purchase_orders.each do |purchase_order| %>
            <div class='document-link'>
              <%= link_to purchase_order.uid, purchase_order %>
              <% status_color = case purchase_order.status
                               when 'approved' then 'bg-green-500'
                               when 'rejected' then 'bg-red-500'
                               else 'bg-orange-500'
                               end %>
              <div class="status-dot <%= purchase_order.status %>"></div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="linked-documents-body">
        </div>
      <% end %>
    </div>
  </div>