<!-- Landing Page -->
<div id="landing-page" class="page">
  <p class="title">Projects</p>
  <!-- Dashboard Cards -->
  <div id="counts" class="row">
    <!-- Request Forms Card -->
    <%= render "components/count", type: "Request Forms", value: "535,748", percentage: "+15.7%" %>
    <%= render "components/count", type: "Purchase Orders", value: "52,947", percentage: "-6.2%" %>
    <%= render "components/count", type: "quotations", value: "64,723", percentage: "+2.5%" %>
  </div>
  <!-- Request Forms Table -->
  <%= render "components/table" %>
</div>
<%# <p style="color: green"><%= notice %>
<%# content_for :title, "Projects" %>
<%# <h1>Projects</h1> %>
<%# <%= link_to "New project", new_project_path %>
<%# <br>
<%# <br>
<%# <div id="projects">
  <%# @projects.each do |project| %>
  <%# <%= render project %>
  <%# <p>
      <%# <%= link_to "Show this project", project %>
  <%# </p>
    <%# <br>
    <%# <br>
  <%# end %>
  <%# </div> %>