<p>
  <strong>Vehicle:</strong>
  <%= request_form.vehicle %>
</p>
<table>
  <thead>
    <tr>
      <th>Particulars</th>
      <th>Estimate Allowance</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <% request_form&.particulars.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.allowance %></td>
        <td></td>
      </tr>
    </tbody>
  <% end %>
  <tr>
    <td>Total</td>
    <td><%= request_form.total %></td>
    <td></td>
  </tr>
</table>
<p>
  <strong>Travel Date Start:</strong>
  <%= request_form.start_travel_date&.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Travel Date End:</strong>
  <%= request_form.end_travel_date&.strftime("%B %d, %Y") %>
</p>
<p>
  <strong>Destination:</strong>
  <%= request_form.destination %>
</p>
<p>
  <strong>Remarks:</strong>
  <%= request_form.remarks %>
</p>
<p>
  <strong>Fuel gauge:</strong>
  <%= request_form.fuel_gauge %>
</p>
<p>
  <strong>Easy trip balance:</strong>
  <%= request_form.easy_trip_balance %>
</p>
<p>
  <strong>Sweep balance:</strong>
  <%= request_form.sweep_balance %>
</p>
<!--
  <p>
    <strong>Requester:</strong>
    <%= request_form.requester %>
  </p>
  <p>
    <strong>Checker:</strong>
    <%= request_form.checker %>
  </p>
  <p>
    <strong>Procurer:</strong>
    <%= request_form.procurer %>
  </p>
  <p>
    <strong>Pre approver:</strong>
    <%= request_form.pre_approver %>
  </p>
  <p>
    <strong>Approver:</strong>
    <%= request_form.approver %>
  </p>
  -->
<p>
  <strong>Company:</strong>
  <%= request_form.company.code %>
</p>
<p>
  <strong>Project:</strong>
  <%= request_form.project.uid %>
</p>
<p>
  <strong>Client:</strong>
  <%= request_form.project.client.name %>
</p>