<p style="display: inline-block;"><strong>Project:</strong> <%= request_form.project.uid %></p>
<p style="display: inline-block; margin-left: 30px;"><strong>Vehicle:</strong> <%= request_form.vehicle %></p>
</p>
<table>
  <thead>
    <tr>
      <th style="width: 5%">SN</th>
      <th style="width: 40%">Particulars</th>
      <th style="width: 20%">Estimate Allowance</th>
      <th style="width: 35%">Remarks</th>
    </tr>
  </thead>
  <tbody>
    <% request_form&.particulars.each_with_index do |p, index| %>
      <tr>
        <td class="align-center"><%= index + 1 %></td>
        <td><%= p.name %></td>
        <td class="align-right"><% if index == 0 %>PHP<% end %> <%= number_with_precision(p.allowance, precision: 2, delimiter: ',') %></td>
        <td></td>
      </tr>
    </tbody>
  <% end %>
  <tr>
    <td class="no-border"></td>
    <td>Total</td>
    <td class="align-right">PHP <%= number_with_precision(request_form.total, precision: 2, delimiter: ',') %></td>
    <td class="no-border"></td>
  </tr>
</table>
<p style="display: inline-block;">
  <strong>Travel Date:</strong>
  <% if request_form.start_travel_date.present? && request_form.end_travel_date.present? %>
    <%= request_form.start_travel_date&.strftime("%B %d") %> to <%= request_form.end_travel_date&.strftime("%B %d") %>
  <% end %>
</p>
<p style="display: inline-block; margin-left: 30px;">
  <strong>Destination:</strong>
  <%= request_form.destination %>
</p>
<table class="balance-table">
  <thead>
    <tr>
      <th style="width: 40%;">REMARKS</th>
      <th style="width: 15%;">FUEL GAUGE</th>
      <th style="width: 20%;">EASY TRIP BALANCE</th>
      <th style="width: 20%;">SWEEP BALANCE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= request_form.remarks %></td>
      <td class="align-right"><% if request_form.fuel_gauge.present? %>PHP <%= number_with_precision(request_form.fuel_gauge, precision: 2, delimiter: ',') %><% end %></td>
      <td class="align-right"><% if request_form.easy_trip_balance.present? %>PHP <%= number_with_precision(request_form.easy_trip_balance, precision: 2, delimiter: ',') %><% end %></td>
      <td class="align-right"><% if request_form.sweep_balance.present? %>PHP <%= number_with_precision(request_form.sweep_balance, precision: 2, delimiter: ',') %><% end %></td>
    </tr>
  </tbody>
</table>
<br>
<table class="signatures-table">
  <thead>
    <tr>
      <th>Requested by</th>
      <th>Checked by</th>
      <th>Pre-approved by</th>
      <th>Approved by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @request_form.user&.signature&.attached? %>
          <%= image_tag("data:image/jpg;base64,#{Base64.strict_encode64(@request_form.user.signature.download)}", class: "signature-image") %>
        <% end %>
        <p><%= @request_form.created_by %></p>
      </td>
      <td></td>
      <td></td>
      <% if @request_form.approved? %>
        <td>
          <% if @request_form.approver&.signature&.attached? %>
            <%= image_tag("data:image/jpg;base64,#{Base64.strict_encode64(@request_form.approver.signature.download)}", class: "signature-image") %>
          <% end %>
          <p><%= @request_form.approver&.full_name %></p>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>
