<%= form_with(model: request_form, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |form| %>
  <% if request_form.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(request_form.errors.count, "error") %> prohibited this request_form from being saved:</h2>
      <ul>
        <% request_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div data-controller="company-select">
    <%= turbo_frame_tag "request_form_types", data: {controller: 'navigate'} do %>
      <div>
        <%= form.label :request_type, style: "display: block" %>
        <div>
          <%= form.radio_button :request_type, "Allowance", data: { action: "change->navigate#to", url: new_request_form_path({request_form: {request_type: 'Allowance'}}) } %>
          <%= form.label :request_type_allowance, "Allowance" %>
          <%= form.radio_button :request_type, "Order", data: { action: "change->navigate#to", url: new_request_form_path({request_form: {request_type: 'Order'}}) } %>
          <%= form.label :request_type_order, "Order" %>
        </div>
      </div>
      <div style="display: <%= @request_form.request_type? ? 'block' : 'none' %>">
        <div>
          <%= form.label :company, style: "display: block" %>
          <% Company.all.each do |company| %>
            <%= form.radio_button :company_id, company.id, data: { action: "company-select#selectCompanyForProjectsCanvassesQuotations" } %> <%= company.code %>
          <% end %>
        </div>
        <div>
          <%= form.label :project_id %>
          <%= form.collection_select :project_id, [], :id, :uid, { prompt: "Select Project"}, data: { company_select_target: "projectSelect" } %>
        </div>
        <div>
          <%= form.label :canvass_id %>
          <%= form.collection_select :canvass_id, [], :id, :uid, { prompt: "Select Canvass"}, data: { company_select_target: "canvassSelect" } %>
        </div>
        <div>
          <%= form.label :quotation_id, style: "display: block" %>
          <%= form.collection_select :quotation_id, [], :id, :uid, { prompt: "Select Quotation"}, data: { company_select_target: "quotationSelect" } %>
        </div>
        <% if @request_form.Allowance? %>
          <%= render 'allowance_form', form: form %>
        <% elsif @request_form.Order? %>
          <%= render 'order_form', form: form %>
        <% else %>
        <% end %>
      <%end %>
    </div>
    <div style="display: <%= @request_form.request_type? ? 'block' : 'none' %>">
      <%= form.submit %>
    </div>
  </div>
<% end %>
