<div class="order-form-container" data-controller="total-calculator">
  <div class="separator"></div>
  <div class="order-section">
    <p style="margin-bottom: 16px;" class="semibold">Items Table</p>
    <table class="order-table">
      <thead>
        <tr id="table-header">
          <th style="width: 30%;">ITEM</th>
          <th style="width: 10%;">QUANTITY</th>
          <th style="width: 10%;">U/M</th>
          <th style="width: 15%;">UNIT PRICE</th>
          <th style="width: 3%;"></th>
        </tr>
      </thead>
    </table>
    <template data-nested-form-target="template">
      <%= form.fields_for :products, Product.new, child_index: 'NEW_RECORD' do |product_fields| %>
        <%= render "request_forms/request_form_product_form", f: product_fields %>
      <% end %>
    </template>
    <%= form.fields_for :products do |product_fields| %>
      <%= render "request_forms/request_form_product_form", f: product_fields %>
    <% end %>
    <div data-nested-form-target="target"></div>
    <%= link_to '<i class="fas fa-plus"></i> Add Item'.html_safe, '#', class: 'add-item-button', data: { action: "nested-form#add" } %>
    <div class="error-message hidden" data-form-validation-target="itemsError">
      Please add at least one item and fill in all required fields
    </div>
    <div class="total-calculator">
      <div class="totals-section">
        <div class="total-row total-final">
          <span class="total-label">Total Amount:</span>
          <span data-total-calculator-target="total">PHP 0.00</span>
        </div>
      </div>
    </div>
  </div>
</div>
