<div class="flex space-between">
  <p>
    <strong>Project:</strong>
    <%= request_form.project.uid %>
  </p>
  <p>
    <strong>Date Requested:</strong>
    <%= request_form.created_at.strftime("%B %d, %Y") %>
  </p>
</div>
<table>
  <thead>
    <tr>
      <th style="width: 5%">SN</th>
      <th style="width: 40%">Item</th>
      <th style="width: 10%">Quantity</th>
      <th style="width: 10%">Unit</th>
      <th style="width: 20%">Estimated Amount</th>
    </tr>
  </thead>
  <tbody>
    <% request_form&.products.each_with_index do |p, index| %>
      <tr>
        <td class="align-center"><%= index + 1 %></td>
        <td><%= p.description %></td>
        <td class="align-right"><%= p.quantity %></td>
        <td><%= p.unit %></td>
        <td class="align-right"><% if index == 0 %>PHP<% end %> <%= number_with_precision(p.price, precision: 2, delimiter: ',') %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td>Total</td>
      <td></td>
      <td></td>
      <td class="align-right">PHP <%= number_with_precision(request_form.total, precision: 2, delimiter: ',') %></td>
    </tr>
  </tbody>
</table>
<br>
<table class="signatures-table">
  <thead>
    <tr>
      <th>Requested by</th>
      <th>Checked by</th>
      <th>Procurer</th>
      <th>Pre-approved by</th>
      <th>Approved by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @request_form.created_by %></td>
      <td></td>
      <td></td>
      <td></td>
      <% if !@request_form.approved? %>
        <td>
          <%= image_tag "#{request.base_url}/assets/fake-signature.png", style: "width: 100px; height: 40px;" %>
          <p>Robert D. Bautista</p>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>
<!--
  <p>
    <strong>Requester:</strong>
    <%= request_form.requester %>
  </p>
  <p>
    <strong>Checker:</strong>
    <%= request_form.checker %>
  </p>
  <p>
    <strong>Procurer:</strong>
    <%= request_form.procurer %>
  </p>
  <p>
    <strong>Pre approver:</strong>
    <%= request_form.pre_approver %>
  </p>
  <p>
    <strong>Approver:</strong>
    <%= request_form.approver %>
  </p>
  -->
