<div class="flex space-between">
  <p>
    <strong>Project:</strong>
    <%= request_form.project.uid %>
  </p>
  <p>
    <strong>Date Requested:</strong>
    <%= request_form.created_at.strftime("%B %d, %Y") %>
  </p>
</div>
<table>
  <thead>
    <tr>
      <th style="width: 5%">SN</th>
      <th style="width: 30%">Item</th>
      <th style="width: 10%" class="align-right">Quantity</th>
      <th style="width: 10%" class="align-right">U/M</th>
      <th style="width: 20%" class="align-right">Unit Price</th>
      <th style="width: 20%" class="align-right">Estimated Amount</th>
    </tr>
  </thead>
  <tbody>
    <% request_form&.products.each_with_index do |p, index| %>
      <tr>
        <td class="align-center"><%= index + 1 %></td>
        <td><%= p.description %></td>
        <td class="align-right"><%= p.quantity %></td>
        <td class="align-right"><%= p.unit %></td>
        <td class="align-right"><% if index == 0 %>PHP<% end %> <%= number_with_precision(p.price, precision: 2, delimiter: ',') %></td>
        <td class="align-right"><% if index == 0 %>PHP<% end %> <%= number_with_precision(p.total, precision: 2, delimiter: ',') %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" class="no-border"></td>
      <td class="align-right">Total</td>
      <td class="align-right">PHP <%= number_with_precision(request_form.total, precision: 2, delimiter: ',') %></td>
    </tr>
  </tbody>
</table>
<br>
<table class="signatures-table">
  <thead>
    <tr>
      <th>Requested by</th>
      <th>Checked by</th>
      <th>Procurement</th>
      <th>Pre-approved by</th>
      <th>Approved by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @request_form.user&.signature&.attached? %>
          <%= image_tag("data:image/jpg;base64,#{Base64.strict_encode64(@request_form.user.signature.download)}", class: "signature-image") %>
        <% end %>
        <p><%= @request_form.user&.full_name %></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <% if @request_form.approved? %>
        <td>
          <% if @request_form.approver&.signature&.attached? %>
            <%= image_tag("data:image/jpg;base64,#{Base64.strict_encode64(@request_form.approver.signature.download)}", class: "signature-image") %>
          <% end %>
          <p><%= @request_form.approver&.full_name %></p>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>
<!--
  <p>
    <strong>Requester:</strong>
    <%= request_form.requester %>
  </p>
  <p>
    <strong>Checker:</strong>
    <%= request_form.checker %>
  </p>
  <p>
    <strong>Procurer:</strong>
    <%= request_form.procurer %>
  </p>
  <p>
    <strong>Pre approver:</strong>
    <%= request_form.pre_approver %>
  </p>
  <p>
    <strong>Approver:</strong>
    <%= request_form.approver %>
  </p>
  -->
