<tr class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>" >
  <td style="width: 30%;">
    <%= f.text_field :description, class: "required" %>
  </td>
  <td style="width: 15%;">
    <%= f.number_field :quantity, class: "required align-right", placeholder: "0" %>
  </td>
  <td style="width: 15%;">
    <%= f.text_field :unit, class: "required align-right" %>
  </td>
  <td style="width: 15%;" >
    <%= f.number_field :price, step: :any, class: "required align-right", placeholder: "0.00" %>
  </td>
  <td style="width: 3%; text-align: center; vertical-align: middle;">
    <% if f.object.request_form&.products&.first != f.object %>
      <%= link_to "<i class='fas fa-trash'></i>".html_safe, "#", class: "remove-item-button", data: { action: "nested-form#remove" } %>
      <%= f.hidden_field :_destroy %>
    <% end %>
  </td>
</tr>