<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :name, "Particular", style: "display: block" %>
  <%= f.text_field :name %>
  <%= f.label :allowance, style: "display: block" %>
  <%= f.text_field :allowance %>
  <button type="button" data-action="nested-form#remove">Remove Particular</button>
  <%= f.hidden_field :_destroy %>
</div>
