<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :name, "Item", style: "display: block" %>
  <%= f.text_field :name %>
  <%= f.label :quantity, style: "display: block" %>
  <%= f.number_field :quantity %>
  <%= f.label :unit, "U/M", style: "display: block" %>
  <%= f.text_field :unit %>
  <%= f.label :price, "Unit Price", style: "display: block" %>
  <%= f.text_field :price %>
  <button type="button" data-action="nested-form#remove">Remove Item</button>
  <%= f.hidden_field :_destroy %>
</div>
