<div id="<%= dom_id request_form %>">
  <p>
    <strong>Uid:</strong>
    <%= request_form.uid %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= request_form.request_type %>
  </p>
  <% if request_form.Allowance? %>
    <%= render 'allowance_view', request_form: request_form%>
  <% elsif request_form.Order? %>
    <%= render 'order_view', request_form: request_form%>
  <% else %>
  <% end %>
</div>
