<p style="color: green"><%= notice %></p>

<%= render @request_form %>

<div>
  <%= link_to "Edit this request form", edit_request_form_path(@request_form) %> |
  <%= link_to "Back to request forms", request_forms_path %>

  <%= button_to "Destroy this request form", @request_form, method: :delete %>
</div>
