<% content_for :title, 'Log In' %>
<div class="auth-form" id="login-form">
  <p id="header">Log in</p>
  <p id="sub-header">Please enter your email and password to login.</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>
    <% unless devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <p>Don't have an account? <u> <%= link_to "Sign up", new_user_registration_path %></u></p>
    <div class="actions">
      <%= f.submit "Log in", class: "login-button" %>
    </div>
  <% end %>
</div>