<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= product.unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Specs:</strong>
    <%= product.specs %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= product.terms %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= product.remarks %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Quotation:</strong>
    <%= product.quotation_id %>
  </p>

  <p>
    <strong>Canvass:</strong>
    <%= product.canvass_id %>
  </p>

  <p>
    <strong>Request form:</strong>
    <%= product.request_form_id %>
  </p>

  <p>
    <strong>Purchase order:</strong>
    <%= product.purchase_order_id %>
  </p>

</div>
