<div id="<%= dom_id supplier %>">
  <p>
    <strong>Partner:</strong>
    <%= supplier.company.code %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>
  <p>
    <strong>Code:</strong>
    <%= supplier.code %>
  </p>
  <p>
    <strong>Contacts:</strong>
    <%= supplier.contacts %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= supplier.address %>
  </p>
  <p>
    <strong>Tin:</strong>
    <%= supplier.tin %>
  </p>
</div>
